<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kallaite.media"
    android:versionCode="10"
    android:versionName="2.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.WRITE_MEDIA_STORAGE" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_TING_MP3" />
    <uses-permission android:name="android.permission.WRITE_TING_MP3" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 可选的权限： -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 获取logcat日志 -->
    <application
        android:name="com.kallaite.media.AppMain"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_lable_name"
        android:largeHeap="true"
        android:theme="@style/BackGroundTheme"
        tools:replace="android:label">

        <activity
            android:name="com.kallaite.media.activity.MusicPlayerActivity"
            android:icon="@drawable/app_music">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kallaite.media.activity.MusicListActivity"/>

        <service
            android:name="com.kallaite.media.service.MusicService"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="smartauto.app.Music.SERVICE" />
            </intent-filter>
        </service>

        <uses-library android:name="android.test.runner" />
        <meta-data
            android:name="com.kallaite.media.glide.MusicGlideModule"
            android:value="GlideModule" />
    </application>
</manifest>
